/* generic css */

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0 auto;
}



/* header css */
.headercontainer {
    background-color: #fe6901;
    color: white;
    display: flex;
    justify-content: center;
}

.textcontainer {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.headerlinks {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.booleanlogo {
    max-width: 30%;
    max-height: 30%;
}

/* main css */
.maincontainer {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.column img {
    width: 100%;
    height: 400px;
}

.column {
    flex-basis: calc((100%/3)-10px);
    margin: 5px;
}

.sku {
    position: relative;
}

.boxheart {
    position: absolute;
    font-size: 25px;
    background-color: white;
    padding: 1% 2%;
    right: 0;
    top: 1%;
}

.boxlabels {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 3%;
    left: 0;
}

.sale {
    color: white;
    background-color: red;
    padding: 2% 3%;
    margin-right: 3%;
}

.Sostenibilità {
    color: white;
    background-color: green;
    padding: 2% 3%;
}

.description {}

.brand {}

.typeitem {
    font-weight: bold;
    text-transform: uppercase;
}

.pricefinal {
    color: red;
    font-weight: bold;
}

.pricebefore {
    text-decoration-line: line-through;
    font-weight: bold;
}

/* footer css */
.footercontainer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 1%;
}

.footertextcontainer {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.headerlinks {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.columnfootericons {
    display: flex;
    flex-direction: column;
}

.footerlinks {
    text-decoration: none;
    font-size: 10px;
    color: white;
}