/* generic css */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



/* header css */
.headercontainer {
    width: 100%;
    background-color: #fe6901;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.textcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlinks {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.booleanlogo {
    max-width: 30%;
    max-height: 30%;
}

/* main css */
.maincontainer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.item {}

.sku {
    position: relative;
}

.boxheart {
    position: absolute;
    font-size: 25px;
    background-color: white;
    padding: 1% 2%;
    right: 0;
    top: 1%;
}